:root{
    /* Tipografias */
    --ff: "Inter", sans-serif;
    --fw-title: 700;
    --fw-text: 400;
    --fs-t1: 2.38rem;
    --fs-t2: 1.75rem;
    --fs-t3: 1.38rem;
    --fs-t4: 1rem;
    --fs-tx1: 1rem;
    --fs-tx2: 0.88rem;
    --fs-tx3: 0.75rem;
    --fs-tx4: 0.63rem;

    /* Cores para fundos, botões e textos */
    --color-grey-4:#121214;
    --color-grey-3:#868E96;
    --color-grey-2:#E9ECEF;
    --color-grey-1:#F8F9FA;
    --color-grey-0:#0A0A0B;

    /* Cores para social medias */
    --color-facebook:#506CCF;
    --color-instagram:#CF50AC;
    --color-linkedin:#0E76A8;

    /* Cores para spans e detalhes */
    --color-primary: #623CEA;
    --color-primary-50: #311E75;
    --color-secondary: #50CF9A;
    --color-secondary-50: #E5F8F0;
    --color-tertiary: #FF577F;
    --color-tertiary-50: #b64059;
    --color-quaternary: #506CCF;
    --color-quaternary-50: #E5E9F8;
}

body{
    background: var(--color-grey-4);
    font-family: var(--ff);
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}
